{% extends "base.html" %}

{% block additional_includes %}
    <link rel="stylesheet" href="{{ SITEURL }}/../../pages/GeneralStyle.css" type="text/css" />
    <script defer="defer" src="/build/navbar/navbar.bundle.704c7b3016ab6e98b25c.js"> </script>
{% endblock additional_includes%}


{% block content %} <!--  -->

<div id="myNavBar"></div>
<section id="content" class="body">
<h1>Archives for {{ SITENAME }}</h1>

<dl>
{% for article in dates %}
    <dt>{{ article.locale_date }}</dt>
    <dd><a href='{{ article.url }}'>{{ article.title }}</a></dd>
{% endfor %}
</dl>
</section>
{% endblock %}
