{% extends "base.html" %}

{% block additional_includes %}
<script defer="defer" src="bundles/vendor/vendor.bundle.v1.0.0.js"></script>
    <script defer="defer" src="bundles/navbar/navbar.bundle.v1.0.0.js"></script>
    
    <link href="navbar.css" rel="stylesheet">
{% endblock additional_includes%}


{% block content %} <!--  -->

<div id="myNavBar"></div>
<section id="content" class="body">
<h1>Archives for {{ SITENAME }}</h1>

<dl>
{% for article in dates %}
    <dt>{{ article.locale_date }}</dt>
    <dd><a href='{{ article.url }}'>{{ article.title }}</a></dd>
{% endfor %}
</dl>
</section>
{% endblock %}
