

.about-content {
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;

    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 1px;


    width: 660px; 
    background-color: #FFFFFF;
}


.about-content p{
    color: rgb(73, 73, 73);
}
.about-content h1{
    color: rgb(50, 50, 50);
}