

.about-content {
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;

    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;



    width: 660px; 
    background-color: #FFFFFF;
}


p {
    color: rgb(73, 73, 73);
}