

.about-content {
    max-width: 660px;
    margin-right: auto;
    margin-left: auto;

    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 1px;


    background-color: #FFFFFF;
}


.about-content p{
    color: rgb(73, 73, 73);
}
.about-content h1{
    color: rgb(50, 50, 50);
}

.about-content hr {
    height: 1px;
    border-top: 1px solid #e1e4e5;

    margin: 24px 0;
    background-color: #d9d9d9;
}

#my-image {
    width: 200px;
    float: left;
    margin-right: 20px;

}


@media screen and (max-width:520px) {
    #my-image {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      

}
