.general-content {
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
}

p {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.5;
    color: rgb(73, 73, 73);
}

h1 {
    font-size: 40px;
}

