.projects-content {
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;

    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 1px;


    width: 660px; 
    background-color: #FFFFFF;
}


.projects-content p{
    color: rgb(73, 73, 73);
}
.projects-content h1{
    color: rgb(50, 50, 50);
}

.projects-content hr {
    height: 1px;
    border-top: 1px solid #e1e4e5;

    margin: 24px 0;
    background-color: #d9d9d9;
}
